<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="TurnosConnectionString" connectionString="Data Source=10.107.180.170\SQLEXPRESS;Initial Catalog=DB_Reportes_Turno;User ID=writer;Password=Wr1ter" providerName="System.Data.SqlClient"/>
    <add name="TurnosConnectionString" connectionString="Data Source=VICTOR-LAP;Initial Catalog=DB_Reportes_Turno;User ID=sa;Password=admin.2014" providerName="System.Data.SqlClient"/>-->
    <add name="TurnosConnectionString" connectionString="Data Source=QB3410610;Initial Catalog=DB_Reportes_Turno;User ID=sa;Password=admin.2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Spatial, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Data.Edm, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Data.OData, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Data.Services.Client, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Data.Services, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime />
  </system.web>
<system.serviceModel><serviceHostingEnvironment aspNetCompatibilityEnabled="true" /></system.serviceModel></configuration>